*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

.container{
    border: 1px solid black;
    padding: 13;
    border-radius: 5px;
    background-color: lightcyan;
}

ul li{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    background-color: lightcoral;
    margin: 5px;
}

span{
    padding: 0px 10px;
}

